<a href="https://colab.research.google.com/github/gcochlar/Bootcamp_DataScience/blob/main/Modulo_02/Bootcamp_SD_Modulo02_Importa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://drive.google.com/uc?id=16O9eMrtSeRDnDpZgmneXj34eIClCntvg">

# **Análise da Evolução da Vacinação e Casos de Tuberculose no Brasil**
---

Este é um trabalho de análise da evolução dos casos de tuberculose nas diferentes Unidades Federativas (UFs) do Brasil ao longo dos últimos 13 anos.

Esse notebook é parte integrante do trabalho de análise a respeito da evolução dos casos de tuberculose no Brasil e os efeitos da vacinação.

Aqui temos a parte dedicada à importação das diversas bases de dados que foram obtidas através de consultas ao DataSUS, via [TabNet](http://www2.datasus.gov.br/DATASUS/index.php?area=02).

Todos os *DataFrames* são importados, passam pelo processo de **```melt```** para tornar possível a consolidação em uma base única que vai servir para o estudo posteriormente.

## **1. Importação de Bibliotecas**
---

In [1]:
import pandas as pd

## **2. Arquivos a Serem Importados**
---

Aqui estabelecemos as variáveis com os nomes e URLs dos diversos arquivos que serão importados para compor nossa base de estudo.

Todos os arquivos foram obtidos a partir do TabNet e depois colocados dentro do repositórtio do ***GitHub*** para possibilitar a importação e a garantia de que teremos as mesmas informações em caso de rodarmos novamente os códigos de importação, uma vez que os dados do DataSUS são constantemente atualizados.

In [2]:
notif = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/tuberculose-casos%20notif.csv'
cura = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/tuberculose-casos%20notif%20-%20cura.csv'
obito = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/tuberculose-casos%20notif%20-%20obito.csv'

vacinas = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/bcg%20e%20bcg%20hans%20-%20doses.csv'

gastos = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/gastoshospit_tuberculoseS.csv'
intern = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/intern_tuberculoseS.csv'
dias_perman = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/diasperman_tuberculoses.csv'

populacao = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/DataSUS%20-%20Proj_Populacao2008-2021.csv'
pop_0a4 = 'https://github.com/gcochlar/Bootcamp_DataScience/raw/main/dados/popul_0a4.csv'

## **3. Importação de Casos Notificados**
---
Esses são os dados referentes aos casos de tuberculose notificados no DataSUS, no período de 2008-2020.
Tivemos um caso único de origem ignorada que foi descartado.

In [3]:
df_notif = pd.read_csv(notif,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=3, skipfooter=19,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2001','2002','2003','2004','2005','2006','2007','Total'], axis=1)

df_notif.drop('00 Ignorado/exterior',inplace=True)

df_notif

                         2008   2009   2010   2011  ...   2017   2018   2019   2020
UF de notificação                                   ...
11 Rondônia               564    680    572    685  ...    780    678    740    573
12 Acre                   314    364    347    392  ...    484    483    582    537
13 Amazonas              2688   2606   2764   2686  ...   3693   3803   3955   3500
14 Roraima                155    145    152    171  ...    205    265    324    286
15 Pará                  3790   4106   4104   4334  ...   4511   4678   5542   4437
16 Amapá                  266    253    221    259  ...    298    284    357    274
17 Tocantins              207    223    216    215  ...    187    233    234    200
21 Maranhão              2464   2462   2414   2505  ...   2469   2647   2666   2332
22 Piauí                 1224   1108    994   1002  ...    791    884    877    758
23 Ceará                 4473   4664   4315   4398  ...   4289   4555   4544   3696
24 Rio Grande do Norte   1211   1185   1109   1269  ...   1354   1624   1417   1502
25 Paraíba               1324   1320   1327   1413  ...   1360   1542   1486   1263
26 Pernambuco            4995   5028   5175   5390  ...   6378   6491   6793   6069
27 Alagoas               1408   1448   1368   1327  ...   1264   1340   1288    922
28 Sergipe                695    686    630    669  ...    832    978   1022    793
29 Bahia                 6667   6971   6521   6412  ...   5498   5667   5653   4448
31 Minas Gerais          5188   4851   4443   4626  ...   4064   4224   4356   3889
32 Espírito Santo        1537   1427   1478   1450  ...   1324   1484   1492   1734
33 Rio de Janeiro       14676  14390  14241  14331  ...  13927  14819  14963  13077
35 São Paulo            18452  17828  18213  19083  ...  22119  22258  21953  19045
41 Paraná                2991   2808   2770   2722  ...   2501   2860   2883   2814
42 Santa Catarina        2022   2002   2070   2218  ...   2228   2282   2265   1509
43 Rio Grande do Sul     5687   6100   6180   6360  ...   6599   6908   7642   6327
50 Mato Grosso do Sul    1019   1044    943   1047  ...   1140   1455   1406   1171
51 Mato Grosso           1280   1158   1368   1371  ...   1430   1414   1532   1188
52 Goiás                  953   1012   1016    989  ...   1163   1212   1173    952
53 Distrito Federal       518    449    430    489  ...    413    471    483    382

[27 rows x 13 columns]

In [4]:
df_notif_m = df_notif.reset_index().melt(id_vars = 'UF de notificação',
                                         value_vars = df_notif.columns)

df_notif_m.columns = ['UF','Ano','Casos Notif']
df_notif_m = df_notif_m.astype({'Casos Notif':'int64'})
df_notif_m

                        UF   Ano  Casos Notif
0              11 Rondônia  2008          564
1                  12 Acre  2008          314
2              13 Amazonas  2008         2688
3               14 Roraima  2008          155
4                  15 Pará  2008         3790
..                     ...   ...          ...
346   43 Rio Grande do Sul  2020         6327
347  50 Mato Grosso do Sul  2020         1171
348         51 Mato Grosso  2020         1188
349               52 Goiás  2020          952
350    53 Distrito Federal  2020          382

[351 rows x 3 columns]

## **4. Importação Casos Curados**
---
Dentro dos casos notificados, temos a informação do modo de finalização do tratamento, onde temos vários históricos.

Os que vão nos interessar para o processo de análise são os casos em que a cura foi atingida e os que terminaram com o óbito do paciente em decorrência da tuberculose.

Aqui estamos importando os dados referentes aos pacientes curados.

In [5]:
df_cura = pd.read_csv(cura,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=19,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2001','2002','2003','2004','2005','2006','2007','Total'], axis=1)

df_cura.drop('00 Ignorado/exterior',inplace=True)
df_cura.replace('-',0,inplace=True)
df_cura

                         2008   2009   2010   2011  ...   2017   2018   2019  2020
UF de notificação                                   ...
11 Rondônia               428    467    403    470  ...    566    490    503    96
12 Acre                   266    320    287    349  ...    451    438    503   168
13 Amazonas              1952   1973   2085   2041  ...   2610   2567   2680   887
14 Roraima                127    118    126    135  ...    144    189    218    65
15 Pará                  2711   2953   2960   3189  ...   3132   3301   3515   741
16 Amapá                  179    177    163    195  ...    240    206    240    21
17 Tocantins              154    159    150    156  ...    134    158    156    33
21 Maranhão              1935   1843   1803   1883  ...   1731   1892   1774   519
22 Piauí                  774    699    682    712  ...    580    600    496   160
23 Ceará                 3357   3340   3107   3093  ...   2852   2925   2497   654
24 Rio Grande do Norte    842    807    714    842  ...    844   1028    832   227
25 Paraíba                849    868    861    899  ...    768    856    750   185
26 Pernambuco            3303   3191   3278   3419  ...   3948   3893   3913  1306
27 Alagoas               1021    983    928    910  ...    723    764    666   142
28 Sergipe                509    483    475    516  ...    564    660    726   157
29 Bahia                 4808   4798   4333   4411  ...   3557   3519   3088   755
31 Minas Gerais          3895   3601   3241   3385  ...   2826   2964   2915   769
32 Espírito Santo        1243   1113   1137   1137  ...    979   1048    896     0
33 Rio de Janeiro        8978   9091   8766   9254  ...   8904   9272   9084  2489
35 São Paulo            14108  13453  14153  14952  ...  17085  16982  16057  5446
41 Paraná                2176   2085   2078   2119  ...   1759   1991   1803   631
42 Santa Catarina        1420   1458   1541   1616  ...   1488   1479   1284   295
43 Rio Grande do Sul     3823   4017   3970   4002  ...   3861   3849   3882  1174
50 Mato Grosso do Sul     750    740    667    729  ...    698   1001    824   141
51 Mato Grosso            982    830    959    959  ...    961    953    964   254
52 Goiás                  667    699    711    677  ...    748    769    704   166
53 Distrito Federal       380    354    331    348  ...    224    256    227    37

[27 rows x 13 columns]

In [6]:
df_cura_m = df_cura.reset_index().melt(id_vars = 'UF de notificação',
                                         value_vars = df_cura.columns)

df_cura_m.columns = ['UF','Ano','Curados']
df_cura_m = df_cura_m.astype({'Curados':'int64'})
df_cura_m

                        UF   Ano  Curados
0              11 Rondônia  2008      428
1                  12 Acre  2008      266
2              13 Amazonas  2008     1952
3               14 Roraima  2008      127
4                  15 Pará  2008     2711
..                     ...   ...      ...
346   43 Rio Grande do Sul  2020     1174
347  50 Mato Grosso do Sul  2020      141
348         51 Mato Grosso  2020      254
349               52 Goiás  2020      166
350    53 Distrito Federal  2020       37

[351 rows x 3 columns]

## **5. Importação Casos com Óbitos**
---
Complementando a informação anterior, aqui estamos importando os dados referentes aos casos finalizados com o óbito do paciente, desde que decorrente da tuberculose. Casos em que houve o falecimento por outras morbidades são desconsiderados.

In [7]:
df_obito = pd.read_csv(obito,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=19,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2001','2002','2003','2004','2005','2006','2007','Total'], axis=1)
df_obito.replace('-',0,inplace=True)
df_obito

                        2008  2009  2010  2011  ...  2017  2018  2019  2020
UF de notificação                               ...
11 Rondônia                8     4    12    10  ...    10     5     4     9
12 Acre                    9     4    10     6  ...     7     6     8     9
13 Amazonas               89   131   127    84  ...   147   145   143   128
14 Roraima                 5     4     5     7  ...     5     8    16    11
15 Pará                  106    87   102   107  ...    83    86   124    71
16 Amapá                   6     3     5     6  ...     4     3     6     5
17 Tocantins               3    13     8    12  ...     6     9     6     7
21 Maranhão               64    77    73    71  ...    76   112   130    90
22 Piauí                  38    38    24    38  ...    31    33    29    26
23 Ceará                 142   171   121    92  ...   151   151   129    89
24 Rio Grande do Norte    51    51    54    71  ...    62    83    71    35
25 Paraíba                41    37    49    55  ...    41    56    48    32
26 Pernambuco            228   199   202   177  ...   404   352   341   254
27 Alagoas                49    81    48    52  ...    65    77    63    40
28 Sergipe                29    40    24    33  ...    20    25    26    17
29 Bahia                 177   225   214   158  ...   220   183   206   127
31 Minas Gerais          204   176   188   194  ...   170   164   155   141
32 Espírito Santo         52    54    51    41  ...    59    57    66     0
33 Rio de Janeiro        646   568   605   562  ...   471   475   446   297
35 São Paulo             538   505   543   597  ...   755   746   731   609
41 Paraná                107    96   109   104  ...    86   112   111   102
42 Santa Catarina         73    65    69    58  ...    64    63    57    37
43 Rio Grande do Sul     214   188   227   213  ...   229   272   256   150
50 Mato Grosso do Sul     55    67    55    44  ...    52    39    43    40
51 Mato Grosso            28    34    26    32  ...    51    38    32    23
52 Goiás                  34    40    29    36  ...    39    42    40    24
53 Distrito Federal        8     4    12     7  ...     6    15    20    14

[27 rows x 13 columns]

In [8]:
df_obito_m = df_obito.reset_index().melt(id_vars = 'UF de notificação',
                                         value_vars = df_obito.columns)

df_obito_m.columns = ['UF','Ano','Óbitos']
df_obito_m = df_obito_m.astype({'Óbitos':'int64'})
df_obito_m

                        UF   Ano  Óbitos
0              11 Rondônia  2008       8
1                  12 Acre  2008       9
2              13 Amazonas  2008      89
3               14 Roraima  2008       5
4                  15 Pará  2008     106
..                     ...   ...     ...
346   43 Rio Grande do Sul  2020     150
347  50 Mato Grosso do Sul  2020      40
348         51 Mato Grosso  2020      23
349               52 Goiás  2020      24
350    53 Distrito Federal  2020      14

[351 rows x 3 columns]

## **6. Importação de Vacinação**
---
Aqui temos a informação referente às doses de vacinas BCG aplicadas na população.

In [9]:
df_vacinas = pd.read_csv(vacinas,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=0, skipfooter=1,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(' Total', axis=1)

cols_apagar = df_vacinas.iloc[:,0:58].columns
cols_apagar = cols_apagar.append(df_vacinas.iloc[:,-6:].columns)
df_vacinas.drop(cols_apagar,axis=1,inplace=True)

for i in range(2008,2021):
    i_inicial=f'{i}/Jan'
    i_final=f'{i}/Dez'
    df_vacinas[str(i)]=df_vacinas.loc[:,i_inicial:i_final].sum(axis=1)

df_vacinas = df_vacinas.loc[:,'2008':'2020']

df_vacinas

                          2008    2009    2010  ...    2018    2019    2020
Unidade da Federação                            ...
11 Rondônia              29397   28393   26927  ...   25729   24835   19783
12 Acre                  22433   20855   21910  ...   16223   15925   11699
13 Amazonas              94189   93854   90944  ...   75455   73531   69641
14 Roraima               10498    9854   10704  ...   15377   13719   11599
15 Pará                 211870  199115  187145  ...  124966  117825   96679
16 Amapá                 18521   17563   17081  ...   17129   16687   11610
17 Tocantins             27181   25843   25031  ...   26090   29164   22933
21 Maranhão             184137  172826  159049  ...  120993   98496   73849
22 Piauí                 56886   53757   52054  ...   48552   41800   38392
23 Ceará                148855  145938  143579  ...  137885  112720   85597
24 Rio Grande do Norte   54529   53991   55307  ...   49396   39857   36095
25 Paraíba               76808   72528   66184  ...   60525   55098   36465
26 Pernambuco           166764  163863  154390  ...  143723  127395  105662
27 Alagoas               59180   63644   56475  ...   55581   46688   34187
28 Sergipe               39484   36092   32240  ...   35970   30473   24732
29 Bahia                241544  236767  235439  ...  173301  163353  154249
31 Minas Gerais         276076  264162  259614  ...  260091  234103  214221
32 Espírito Santo        54172   53026   55595  ...   54293   50938   43627
33 Rio de Janeiro       238283  240182  236062  ...  233416  179242  135208
35 São Paulo            631346  644561  613622  ...  612969  516051  413642
41 Paraná               157694  155766  155662  ...  153453  144814  140609
42 Santa Catarina        86260   85701   86575  ...   89086   82235   78677
43 Rio Grande do Sul    134340  132623  129259  ...  129790  124980  116193
50 Mato Grosso do Sul    43271   42612   42653  ...   55337   51295   27631
51 Mato Grosso           57105   54812   48389  ...   58799   52877   48561
52 Goiás                111983  104295  106377  ...   91706   86519   76032
53 Distrito Federal      49242   49611   50346  ...   39243   41948   41694

[27 rows x 13 columns]

In [10]:
df_vacinas_m = df_vacinas.reset_index().melt(id_vars = 'Unidade da Federação',
                                         value_vars = df_vacinas.columns)

df_vacinas_m.columns = ['UF','Ano','Vacinas']
df_vacinas_m

                        UF   Ano  Vacinas
0              11 Rondônia  2008    29397
1                  12 Acre  2008    22433
2              13 Amazonas  2008    94189
3               14 Roraima  2008    10498
4                  15 Pará  2008   211870
..                     ...   ...      ...
346   43 Rio Grande do Sul  2020   116193
347  50 Mato Grosso do Sul  2020    27631
348         51 Mato Grosso  2020    48561
349               52 Goiás  2020    76032
350    53 Distrito Federal  2020    41694

[351 rows x 3 columns]

## **7. Importação de Quantidades de Internações**
---
Agora, para avaliar o custo dos casos de tuberculose para o sistema público de saúde, vamos importar a quantidade de internações hospitalares que tiveram como causa principal a tuberculose.

In [11]:
df_intern = pd.read_csv(intern,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=7,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2007','2021','Total'], axis=1)

df_intern

                        2008  2009  2010  2011  ...  2017  2018  2019  2020
Unidade da Federação                            ...
11 Rondônia               65    94   128   181  ...   182   198   180   126
12 Acre                  112   117    81    63  ...    60    77    67    55
13 Amazonas              295   339   444   347  ...   230   216   223   136
14 Roraima                37    27    52    54  ...    78    63   138   146
15 Pará                  430   470   392   397  ...   429   407   454   380
16 Amapá                  71    47    53    65  ...    18    29    31     5
17 Tocantins             122    96   115    74  ...    54    61    68    60
21 Maranhão              276   135   159   188  ...   276   300   305   284
22 Piauí                 177   171   165   106  ...   115   165   122   104
23 Ceará                 662   710   668   633  ...   593   656   731   539
24 Rio Grande do Norte   363   377   383   414  ...   299   390   402   353
25 Paraíba               561   296   384   373  ...   319   340   402   280
26 Pernambuco           1729  1362  1618  1869  ...  1383  1368  1230   817
27 Alagoas               190   257   283   312  ...   240   267   312   249
28 Sergipe                39    31    53    52  ...    95   100   100    76
29 Bahia                 934  1057  1253  1210  ...  1396  1137  1015   993
31 Minas Gerais         1394  1244  1182  1203  ...  1138  1289  1357  1262
32 Espírito Santo        153   173   161   238  ...   151   175   171   222
33 Rio de Janeiro       2420  2481  2032  1939  ...  1269  1494  1502  1397
35 São Paulo            2795  1517  1504  2507  ...  3448  3551  3582  3265
41 Paraná               1977   981   947   451  ...   437   408   403   538
42 Santa Catarina        354   414   270   332  ...   581   698   698   555
43 Rio Grande do Sul    1622  1105  1133  1054  ...  1181  1167  1314  1194
50 Mato Grosso do Sul    343   231   274   244  ...   187   176   250   345
51 Mato Grosso           136    64    84   111  ...   135   145   140   124
52 Goiás                 787   278   337   297  ...   236   317   338   299
53 Distrito Federal      188   174   175   170  ...   180   204   243   200

[27 rows x 13 columns]

In [12]:
df_intern_m = df_intern.reset_index().melt(id_vars = 'Unidade da Federação',
                                         value_vars = df_intern.columns)

df_intern_m.columns = ['UF','Ano','Internações']
df_intern_m

                        UF   Ano  Internações
0              11 Rondônia  2008           65
1                  12 Acre  2008          112
2              13 Amazonas  2008          295
3               14 Roraima  2008           37
4                  15 Pará  2008          430
..                     ...   ...          ...
346   43 Rio Grande do Sul  2020         1194
347  50 Mato Grosso do Sul  2020          345
348         51 Mato Grosso  2020          124
349               52 Goiás  2020          299
350    53 Distrito Federal  2020          200

[351 rows x 3 columns]

## **8. Importação de Gastos com Internações**
---
Continuando a avaliação do impacto das internações hospitalares em decorrência da tuberculose, aqui estamos importando o custo em Reais das internações importadas anteriormente.

In [13]:
df_gastos = pd.read_csv(gastos,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=7,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2007','2021','Total'], axis=1)

df_gastos

                              2008        2009  ...         2019        2020
Unidade da Federação                            ...
11 Rondônia                6302.72    22078.19  ...     59881.24    45363.38
12 Acre                   33934.63    35523.99  ...     55117.73    48876.41
13 Amazonas              177027.78   229299.61  ...    178595.55    97270.95
14 Roraima                 8248.71     6927.23  ...     71274.57    48297.84
15 Pará                  341201.20   586937.67  ...    463449.11   416119.77
16 Amapá                   8932.76     4869.76  ...      6685.83     2199.48
17 Tocantins              63508.70   103246.74  ...     63362.48    45140.65
21 Maranhão              120668.35    24503.17  ...    270752.72   280086.93
22 Piauí                  94573.81   122555.28  ...    187645.66   235483.06
23 Ceará                1053825.80   980643.62  ...    965371.68   913669.69
24 Rio Grande do Norte   485588.70   846997.41  ...    809364.01   710005.88
25 Paraíba               776069.38   826823.13  ...    886966.20   534265.61
26 Pernambuco           3135701.31  2531065.16  ...   3298896.46  2255303.73
27 Alagoas                88752.09   299296.00  ...    539644.07   452955.91
28 Sergipe                20425.16    46587.63  ...     74993.79    47379.54
29 Bahia                1142585.24  1936113.25  ...   1655498.89  1899996.22
31 Minas Gerais         2069895.84  1916901.42  ...   2579293.09  2650202.22
32 Espírito Santo        195056.44   266086.98  ...    272319.30   453557.04
33 Rio de Janeiro       1983055.48  2455216.81  ...   3301802.47  3071351.69
35 São Paulo            3758718.74  3875032.48  ...  10615880.94  9556673.29
41 Paraná               2833212.06  2193425.44  ...   1602665.76  1944744.80
42 Santa Catarina        460252.44   730316.49  ...   1279799.87  1202372.47
43 Rio Grande do Sul    3244859.23  3200290.19  ...   3048000.62  2487620.40
50 Mato Grosso do Sul    575872.55   382342.03  ...    557146.16   744445.50
51 Mato Grosso           208481.73    43930.76  ...    160957.88   133764.26
52 Goiás                 501562.28   527555.87  ...    613074.40   450336.51
53 Distrito Federal       73346.32    83594.28  ...    326852.95   321290.51

[27 rows x 13 columns]

In [14]:
df_gastos_m = df_gastos.reset_index().melt(id_vars = 'Unidade da Federação',
                                         value_vars = df_gastos.columns)

df_gastos_m.columns = ['UF','Ano','Gastos']
df_gastos_m

                        UF   Ano      Gastos
0              11 Rondônia  2008     6302.72
1                  12 Acre  2008    33934.63
2              13 Amazonas  2008   177027.78
3               14 Roraima  2008     8248.71
4                  15 Pará  2008   341201.20
..                     ...   ...         ...
346   43 Rio Grande do Sul  2020  2487620.40
347  50 Mato Grosso do Sul  2020   744445.50
348         51 Mato Grosso  2020   133764.26
349               52 Goiás  2020   450336.51
350    53 Distrito Federal  2020   321290.51

[351 rows x 3 columns]

## **9. Importação de Dias de Permanência**
---
Agora que já temos quantas internações foram feitas e quanto custaram, vamos importar quantos dias de permanência em internação hospitalar esses pacientes tiveram.

In [15]:
df_perman = pd.read_csv(dias_perman,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=7,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop(['2007','2021','Total'], axis=1)

df_perman

                         2008   2009   2010  ...   2018    2019   2020
Unidade da Federação                         ...
11 Rondônia               876   1082   1487  ...   2866    2236   1289
12 Acre                  1298   1042    726  ...    753     673    411
13 Amazonas              3035   4579   5845  ...   2034    2318   1433
14 Roraima                381    299    579  ...    951    1898   2870
15 Pará                  6069   7342   5871  ...   4717    5307   4512
16 Amapá                  947    658    576  ...    335     264     46
17 Tocantins             1056   1088   1243  ...    597     653    562
21 Maranhão              3817   2408   2329  ...   3424    3508   3487
22 Piauí                 1497   1325   1409  ...   2189    1342    973
23 Ceará                 7455   9007   8339  ...   8574   10119   6718
24 Rio Grande do Norte   6747   7117   7742  ...   8172    8230   6627
25 Paraíba               9729  10247  14497  ...  11194    8921   4422
26 Pernambuco           29138  18618  23003  ...  18611   16182   9463
27 Alagoas               2065   3253   3271  ...   3036    3625   2883
28 Sergipe                297    345    439  ...    978    1098    661
29 Bahia                18936  23016  28565  ...  18049   16226  17636
31 Minas Gerais         21222  21281  21807  ...  19742   19000  14293
32 Espírito Santo        1943   1859   1781  ...   1533    1693   2078
33 Rio de Janeiro       47009  49649  43997  ...  41054   38328  34368
35 São Paulo            44317  40952  35298  ...  94316  108817  90113
41 Paraná               25009  20698  22337  ...  11913   12972  14173
42 Santa Catarina        4635   6154   7108  ...  10179   10336   8171
43 Rio Grande do Sul    34134  28365  35366  ...  24360   29696  19216
50 Mato Grosso do Sul    5254   3321   4094  ...   2176    4064   5430
51 Mato Grosso           1352    805   1060  ...   1407    1395   1031
52 Goiás                 4030   3505   3185  ...   2604    2733   2395
53 Distrito Federal      3519   3114   3158  ...   2937    3550   2938

[27 rows x 13 columns]

In [16]:
df_perman_m = df_perman.reset_index().melt(id_vars = 'Unidade da Federação',
                                         value_vars = df_perman.columns)

df_perman_m.columns = ['UF','Ano','Permanência']
df_perman_m

                        UF   Ano  Permanência
0              11 Rondônia  2008          876
1                  12 Acre  2008         1298
2              13 Amazonas  2008         3035
3               14 Roraima  2008          381
4                  15 Pará  2008         6069
..                     ...   ...          ...
346   43 Rio Grande do Sul  2020        19216
347  50 Mato Grosso do Sul  2020         5430
348         51 Mato Grosso  2020         1031
349               52 Goiás  2020         2395
350    53 Distrito Federal  2020         2938

[351 rows x 3 columns]

## **10. Importação de População**
---
Para poder calcular a proporcionalidade dos casos e seus custos, vamos importar os dados demográficos referentes à população total no mesmo período analisado.

Além disso, considerando que a vacinação tem como público alvo os recém nascidos (durante o primeiro mês de vida, o quanto antes), também importamos os dados demográficos referentes à população entre 0 e 4 anos de idade (menor divisão encontrada), no mesmo período.

In [17]:
df_popul = pd.read_csv(populacao,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=3, skipfooter=6,
                       sep=';',thousands='.', decimal=',',
                       index_col=0).drop('2021', axis=1)

df_popul

                            2008      2009  ...      2019      2020
Unidade da Federação                        ...
11 Rondônia              1616992   1640607  ...   1841142   1857992
12 Acre                   705635    720132  ...    854691    866811
13 Amazonas              3463562   3534456  ...   4182899   4240210
14 Roraima                440533    450969  ...    538963    546891
15 Pará                  7402515   7521656  ...   8544639   8628901
16 Amapá                  651977    669360  ...    828028    842914
17 Tocantins             1376898   1398334  ...   1583391   1599316
21 Maranhão              6458789   6533027  ...   7083578   7121156
22 Piauí                 3106597   3125918  ...   3229651   3233891
23 Ceará                 8412055   8493155  ...   9128090   9178363
24 Rio Grande do Norte   3186891   3226259  ...   3568644   3598288
25 Paraíba               3751507   3785598  ...   4074755   4097859
26 Pernambuco            8825549   8906488  ...   9593588   9650604
27 Alagoas               3177975   3205791  ...   3405893   3419689
28 Sergipe               2066358   2093507  ...   2331323   2352207
29 Bahia                14558148  14665810  ...  15467527  15522855
31 Minas Gerais         19794278  19967560  ...  21346492  21451356
32 Espírito Santo        3598524   3648075  ...   4098852   4138657
33 Rio de Janeiro       15859866  15969092  ...  16874306  16946541
35 São Paulo            41651651  42075716  ...  45752757  46064928
41 Paraná               10540407  10636065  ...  11468818  11538518
42 Santa Catarina        6164049   6257173  ...   7179056   7266193
43 Rio Grande do Sul    10906958  10965071  ...  11388156  11416895
50 Mato Grosso do Sul    2417300   2452039  ...   2772343   2800704
51 Mato Grosso           2956496   3003310  ...   3419350   3455092
52 Goiás                 5957260   6057367  ...   6939629   7017496
53 Distrito Federal      2483669   2541434  ...   3162452   3223048

[27 rows x 13 columns]

In [18]:
df_popul_m = df_popul.reset_index().melt(id_vars = 'Unidade da Federação',
                           value_vars = df_popul.columns)

df_popul_m.columns = ['UF','Ano','População']
df_popul_m

                        UF   Ano  População
0              11 Rondônia  2008    1616992
1                  12 Acre  2008     705635
2              13 Amazonas  2008    3463562
3               14 Roraima  2008     440533
4                  15 Pará  2008    7402515
..                     ...   ...        ...
346   43 Rio Grande do Sul  2020   11416895
347  50 Mato Grosso do Sul  2020    2800704
348         51 Mato Grosso  2020    3455092
349               52 Goiás  2020    7017496
350    53 Distrito Federal  2020    3223048

[351 rows x 3 columns]

In [19]:
df_pop0a4 = pd.read_csv(pop_0a4,
                       encoding='ISO-8859-1', engine='python',
                       skiprows=4, skipfooter=6,
                       sep=';',thousands='.', decimal=',',
                       index_col=0)

df_pop0a4

                           2008     2009     2010  ...     2018     2019     2020
Unidade da Federação                               ...
11 Rondônia              157101   154445   151892  ...   135197   133580   132095
12 Acre                   89775    89420    88960  ...    83368    82425    81446
13 Amazonas              420024   418820   417019  ...   389272   384132   378749
14 Roraima                54297    53903    53396  ...    49079    48514    47945
15 Pará                  838448   831347   823194  ...   739766   728275   716840
16 Amapá                  84275    83669    82889  ...    76379    75718    75070
17 Tocantins             144724   142948   141037  ...   125747   124085   122499
21 Maranhão              760173   753035   743677  ...   631676   617737   604347
22 Piauí                 303665   296465   288922  ...   233828   229224   225016
23 Ceará                 781383   766911   752833  ...   661640   653031   644888
24 Rio Grande do Norte   287200   283000   278834  ...   250143   247554   245167
25 Paraíba               345258   341344   337051  ...   295318   290641   286265
26 Pernambuco            813301   799967   786467  ...   687786   678410   669624
27 Alagoas               336215   329796   323146  ...   272540   267357   262386
28 Sergipe               198764   194910   191254  ...   170864   169413   168102
29 Bahia                1303314  1282462  1261213  ...  1095952  1078043  1060893
31 Minas Gerais         1532612  1506462  1481367  ...  1317056  1300177  1283828
32 Espírito Santo        288702   285976   283247  ...   263084   260718   258364
33 Rio de Janeiro       1137134  1117133  1098619  ...   997589   987944   978373
35 São Paulo            3165935  3118982  3073135  ...  2779776  2750916  2722887
41 Paraná                830087   816284   803186  ...   720682   712149   703891
42 Santa Catarina        450889   447637   445098  ...   437451   436755   435965
43 Rio Grande do Sul     768131   751616   736518  ...   655263   647708   640270
50 Mato Grosso do Sul    218606   217219   215715  ...   200173   198012   195897
51 Mato Grosso           274731   272853   270814  ...   249971   247140   244387
52 Goiás                 496379   490199   484368  ...   451005   448263   445741
53 Distrito Federal      203358   203017   203106  ...   212361   213411   214323

[27 rows x 13 columns]

In [20]:
df_pop0a4_m = df_pop0a4.reset_index().melt(id_vars = 'Unidade da Federação',
                           value_vars = df_pop0a4.columns)

df_pop0a4_m.columns = ['UF','Ano','Popul 0 à 4']
df_pop0a4_m

                        UF   Ano  Popul 0 à 4
0              11 Rondônia  2008       157101
1                  12 Acre  2008        89775
2              13 Amazonas  2008       420024
3               14 Roraima  2008        54297
4                  15 Pará  2008       838448
..                     ...   ...          ...
346   43 Rio Grande do Sul  2020       640270
347  50 Mato Grosso do Sul  2020       195897
348         51 Mato Grosso  2020       244387
349               52 Goiás  2020       445741
350    53 Distrito Federal  2020       214323

[351 rows x 3 columns]

## **11. Concatena Bases em** ***DataFrame*** **Único**
---
Agora que temos todos os *DataFrames* importados e devidamente tratados, vamos consolidá-los em um único arquivo CSV para ser importado pelo caderno de análise.

Dentro desse processo vamos calcular também os casos que tiveram finalizações diferentes de cura ou óbito, colocando o resultado em uma coluna denominada 'Outros Fins'.

In [21]:
def concat_df(df_origem, df_destino):
    df_destino = pd.merge(df_destino, df_origem,
                          on = ['UF','Ano'])
    return df_destino
    
df_completo = pd.merge(df_notif_m, df_cura_m,
                       on = ['UF','Ano'])

df_completo = concat_df(df_obito_m,df_completo)

## Calcula os casos que não foram encerrados como 'Curados'
## e nem como 'Óbitos' e coloca em 'Outros Fins'
df_completo['Outros Fins'] = df_completo['Casos Notif'] - df_completo['Curados'] - df_completo['Óbitos']

df_completo = concat_df(df_popul_m,  df_completo)
df_completo = concat_df(df_pop0a4_m, df_completo)
df_completo = concat_df(df_vacinas_m,df_completo)
df_completo = concat_df(df_intern_m, df_completo)
df_completo = concat_df(df_perman_m, df_completo)
df_completo = concat_df(df_gastos_m, df_completo)

df_completo

                        UF   Ano  ...  Permanência      Gastos
0              11 Rondônia  2008  ...          876     6302.72
1                  12 Acre  2008  ...         1298    33934.63
2              13 Amazonas  2008  ...         3035   177027.78
3               14 Roraima  2008  ...          381     8248.71
4                  15 Pará  2008  ...         6069   341201.20
..                     ...   ...  ...          ...         ...
346   43 Rio Grande do Sul  2020  ...        19216  2487620.40
347  50 Mato Grosso do Sul  2020  ...         5430   744445.50
348         51 Mato Grosso  2020  ...         1031   133764.26
349               52 Goiás  2020  ...         2395   450336.51
350    53 Distrito Federal  2020  ...         2938   321290.51

[351 rows x 12 columns]

## **12. Insere Coluna 'Região'**
---
Para possibilitar a separação da informação em áreas geográficas, vamos inserir a coluna 'Região' em nosso *DataFrame* consolidado, usando para isso a codificação usada pelo DataSUS.

Também aproveitamos para limpar o nome das UFs para conter somente o nome, sem o código.

In [22]:
df_completo[['Código UF','UF']] = pd.DataFrame(
    df_completo['UF'].str.split(' ',1).tolist())

df_completo['Região'] = df_completo['Código UF'].str[0]
df_completo = df_completo.drop('Código UF', axis=1)

dict_regioes = {'1' : 'Norte', '2' : 'Nordeste',
                '3' : 'Sudeste', '4' : 'Sul',
                '5' : 'Centro-Oeste'}

df_completo['Região'] = df_completo['Região'].map(dict_regioes)

In [23]:
df_completo

                     UF   Ano  ...      Gastos        Região
0              Rondônia  2008  ...     6302.72         Norte
1                  Acre  2008  ...    33934.63         Norte
2              Amazonas  2008  ...   177027.78         Norte
3               Roraima  2008  ...     8248.71         Norte
4                  Pará  2008  ...   341201.20         Norte
..                  ...   ...  ...         ...           ...
346   Rio Grande do Sul  2020  ...  2487620.40           Sul
347  Mato Grosso do Sul  2020  ...   744445.50  Centro-Oeste
348         Mato Grosso  2020  ...   133764.26  Centro-Oeste
349               Goiás  2020  ...   450336.51  Centro-Oeste
350    Distrito Federal  2020  ...   321290.51  Centro-Oeste

[351 rows x 13 columns]

## **13. Gera o Arquivo CSV Consolidado**
---
Essa instrução gera o arquivo CSV consolidado que será importado pelo notebook de análise.

In [25]:
df_completo.to_csv('df_completo.csv', index = False)